version: "3.9"

services:

  configserver:
    build: ./configserver
    container_name: configserver
    ports:
      - "8071:8071"
    networks:
      - bank-net

  accountdb:
    image: mysql:8
    container_name: accountdb
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: accountdb
    ports:
      - "3307:3306"
    networks:
      - bank-net

  cardsdb:
    image: mysql:8
    container_name: cardsdb
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: cardsdb
    ports:
      - "3308:3306"
    networks:
      - bank-net

  loansdb:
    image: mysql:8
    container_name: loansdb
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: loansdb
    ports:
      - "3309:3306"
    networks:
      - bank-net

  accounts:
    build: ./acconts
    depends_on:
      - configserver
      - accountdb
    networks:
      - bank-net

  cards:
    build: ./card
    depends_on:
      - configserver
      - cardsdb
    networks:
      - bank-net

  loans:
    build: ./loans
    depends_on:
      - configserver
      - loansdb
    networks:
      - bank-net

networks:
  bank-net:
    driver: bridge
